@media (max-width: 1199.98px) {
  * {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-size: 1rem;
    font-size-adjust: 0.5;
  }

  body {
    margin: 40px;
    font-family: sans-serif;
    width: inherit;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 100;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  .cv,
  .news,
  .pet {
    width: 100%;
  }

  .cv {
    grid-row: 2/3;
  }
  .pet {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .news {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .cv1,
  .cv2 {
    height: 60px;
    width: 100%;
    border: 1px solid rgba(75, 71, 71, 0.295);
  }
  /* TABLE-STYLE */
  .cv2 span {
    padding: 1px 5px 1px 5px;
    background-color: rgba(0, 68, 255, 0.616);
    border-radius: 5px;
    color: white;
  }
  .cv1 {
    text-transform: uppercase;
  }

  /* FOOTER-STYLE */

  #footer .container {
    width: inherit;
    height: auto;
    text-align: center;
  }
  #footer .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #footer .container li {
    position: relative;
    display: inline-block;
    padding: 50px;
    text-align: center;
  }
  #footer span {
    margin-bottom: 0px;
  }

  #footer i:hover {
    transform: scale(1.5);
  }
}
