@media screen and (max-width: 576px) {
  .nav-item {
    width: 100%;
    justify-content: start;
    border: none;
    margin-left: 20px;
    gap: 20px;
  }
  .navbar-nav {
    justify-content: start;
    margin-left: 0;
  }
  .avatar {
    display: none;
  }
  #about {
    margin: 20px;
  }
  #job-info .row {
    display: flex;
    flex-direction: column;
  }
  #certificate .row {
    display: flex;
    flex-direction: column;
  }
  #certificate img {
    width: 100%;
  }
  #project .row {
    padding: 20px;
  }
  .web,
  .java {
    border: none;
    border-bottom: 2px solid #ffc107;
    margin-bottom: 1rem;
  }
  .w-100 {
    display: none;
  }
  #footer span {
    display: none;
  }
  #footer .ico {
    position: relative;
    display: inline-block;
    top: 0px;
    padding: 30px;
    margin: 10px;
  }
  /* PROJECT CHArTER  */
  .projectCharter {
    display: flex;
    flex-direction: column;
  }
  .fa-solid {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 3px);
  }
}
